#TopTracks {
  display: block;
  width: 80%;
}

#Header {
  /* margin-left: -230px; */
  padding-left: 230px;
  width: 100%;
}

#Bodyalbum {
  display: block;
}

#relatedartists {
  margin-left: 230px;
}

#CountDown {
  margin-left: 5px;
  display: inline-block;
}

#Related {
  margin: 10%;
  display: block;
}

#main {
  display: flex;
  flex-direction: column;
}

